html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

html {
	font-family: "Helvetica";
}

.wrapper {
	display: flex;
	justify-content: center;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid black;
	background: url(../img/bg.jpg) 0 0;
}

tr {
	display: flex;
}

.column {
	width: 50%;
	align-self: center;
}

.column:first-child {
	border-right: 1px solid black;
}

.paragraphs {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	padding: 2%;
}

.first-paragraph {
	color: blueviolet;
	font-size: 1.1em;
	border-right: 1px solid black;
}

.second-paragraph {
	color: cornflowerblue;
	font-style: italic;
	border-right: 1px solid black;
}

.third-paragraph {
	color: cadetblue;
	text-decoration: underline;
}

.first-picture {
	background: url(../img/pict1.jpg);
	animation: first-picture-animation 4s ease 3 alternate;
}

.second-picture {
	background: url(../img/pict2.jpg);
	animation: second-picture-animation 4s ease 3 alternate;
}

.third-picture {
	background: url(../img/pict3.jpg);
	animation: third-picture-animation 4s ease 3 alternate;
}

.pictures {
	width: 200px;
	height: 200px;
	opacity: 0;
}

.picture-wrapper {
	position: relative;
	top: 0;
	left: 0;
}

.text-wrapper {
	display: flex;
}

@keyframes first-picture-animation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
		transform: translate(482px, 200px) rotate(360deg);
	}
}

@keyframes second-picture-animation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
		transform: translate(482px, 200px) rotate(360deg);
	}
}

@keyframes third-picture-animation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
		transform: translate(482px, -400px) rotate(360deg);
	}
}
