html {
	min-height: 100%;
	position: relative;
}

body {
	height: 100%;
}

.pop-up-wrapper {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(180, 180, 180, 0.411);
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.pop-up {
	width: 500px;
	height: 500px;
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 3%;
}

.pop-up-title {
	flex-basis: 10%;
	border-bottom: 1px solid rgb(187, 187, 187);
	padding: 3%;
	font-size: 2em;
	font-weight: bold;
}

.pop-up-content {
	flex-basis: 80%;
	padding: 3%;
	white-space: pre-wrap;
	overflow: auto;
}

.pop-up-hide {
	visibility: hidden;
}
