html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

div {
	display: flex;
	flex-direction: column;
}

.container {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	background-color: rgba(207, 233, 226, 0.575);
}

.header-name {
	background: #000;
	transform: skewX(-25deg);
	padding: 5%;
	position: relative;
	left: -45px;
	width: 200px;
}

.header-name__city {
	font-size: 3em;
	font-weight: bold;
	color: blanchedalmond;
}

.content {
	padding: 5%;
}

.content-text p {
	line-height: 1.4;
	text-align: justify;
}

.content-picture {
	position: relative;
}

.content-picture__text {
	position: absolute;
	top: 50%;
	left: 11%;
	z-index: 2;
}

.content-picture__svg {
	position: relative;
	z-index: 1;
}

.content-picture__text span {
	font-size: 4em;
	font-weight: bold;
	color: rgb(214, 4, 4);
	animation: change-color 1s ease infinite alternate;
}

.content-table__table {
	border: 1px solid black;
}

.content-table__table tr,
td {
	border: 1px solid black;
}

.content-table__table td {
	padding: 2%;
	background-color: white;
	transition: background-color 0.5s ease;
	cursor: pointer;
}

.content-table__table td:hover {
	background-color: gray;
}

.footer {
	padding: 10%;
}

.footer a {
	font-size: 2em;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

@keyframes change-color {
	0% {
		color: rgb(214, 4, 4);
	}
	100% {
		color: rgb(2, 113, 121);
	}
}
