html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

div {
	display: flex;
	flex-direction: column;
}

.header-title {
	width: 200px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	align-items: center;
	background-color: #76a881;
	padding: 1%;
}

.header-title span {
	font-size: 1.5em;
	font-weight: bold;
}

.content {
	background-color: #76a881;
	padding: 3%;
	text-align: justify;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-right-radius: 30px;
}

.content {
	box-shadow: 0 0 5px -5px rgba(0, 0, 0, 0.5);
}

.header-title {
	box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.5);
}

.content p::first-letter {
	color: red;
	font-size: 1.5em;
}

.footer {
	padding: 2%;
}

.footer-picture {
	background: url(../assets/bg.jpg) 0 0 no-repeat;
	width: 100%;
	height: 300px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
