.col-md
    button.btn.btn-info.btn-block#add(type="button") Добавить запись
.col-md
    button.btn.btn-info.btn-block#delete(type="button") Удалить запись по ID
.col-md
    button.btn.btn-info.btn-block#show(type="button") Показать все записи в виде таблицы