.form-group
    label(for="class-number") Номер класса:
    input.form-control.class-input#class-number(type="text" placeholder="Номер класса")
.form-group
    label(for="class-amount") Количество учащихся:
    input.form-control.class-input#class-amount(type="number" placeholder="Количество учащихся")
.form-group
    label(for="class-classroomTeacher") ФИО классного руководителя:
    input.form-control.class-input#class-classroomTeacher(type="text" placeholder="ФИО классного руководителя")
.form-group.mb-5
    label(for="class-classroomTeacherTelephone") Телефон классного руководителя:
    input.form-control.class-input#class-classroomTeacherTelephone(type="tel" placeholder="Телефон классного руководителя")
.form-group
    .row
        .col-md
            button.btn.btn-info.btn-block#write-record(type="button") Записать
        .col-md
            button.btn.btn-info.btn-block#clear(type="button") Очистить форму