.row.info-table
    .col
        table.table.table-hover
            thead.thead-dark
                tr
                    th #
                    th Номер класса
                    th Количество учащихся
                    th ФИО классного руководителя
                    th Телефон классного руководителя
                each row,index in rows
                    tr
                        th #{index+1}
                        th #{row.classNumber}
                        th #{row.classAmount}
                        th #{row.classroomTeacherFIO}
                        th #{row.classroomTeacherTelephone}
                