.col
    ul
        li Имя рабочего: #{employeeName}
        li Департамент: #{department}
        li Способности: #{abilities}
        li Разряд: #{category}
        li Ставка: #{rate}
        li Зарплата: #{salary}