.row
    .col
        label(for=departmentID) #{departmentLabel}
        select.form-control(id=departmentID)
            option ...
            each department in departments
                option #{department}
.row
    .col
        label(for=employeesID) #{employeesLabel}
        select.form-control(id=employeesID)
            option ...
            each employee in employees
                option #{employee}
.row
    .col 
        legend.col-form-label.pt-0 Способности:
        .form-check
            input#high-abilities.form-check-input(type='radio' name="abilities" value='Высокие')
            label.form-check-label(for='high-abilities')
                | Высокие
        .form-check
            input#mid-abilities.form-check-input(type='radio' name="abilities" value='Средние')
            label.form-check-label(for='mid-abilities')
                | Средние
        .form-check
            input#low-abilities.form-check-input(type='radio' name="abilities" value='Низкие')
            label.form-check-label(for='low-abilities')
                | Низкие
    .col
        label(for='category') Разряд:
        select#category.form-control
            option 1
            option 2
            option 3
            option 4
            option 5
    .col
        label(for='rate') Ставка:
        input.form-control#rate(type='text', placeholder='Ставка')
.row.mt-5
    .col
        button.btn.btn-info.btn-block#averageSalary(type="button") Средняя зарплата по отделу
    .col
        button.btn.btn-info.btn-block#save(type="button") Сохранить данные
.row#summary