<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
        title Laba 9
    body
        .container
            .row
                .col
                    h1 Laba 9 MongoDB and NodeJS
            .row
                .col
                    button.btn.btn-primary#beforeSort(type="button") Показать записи до сортировки
                .col
                    button.btn.btn-primary#afterSort(type="button") Показать записи после сортировки
        script(src="js/index.js")